[data-ditto-id="style-search"]::placeholder{color:oklab(0.538188 0.000024721 0.0000107288 / 0.72)}
@media (max-width: 571px) {
[data-ditto-id="style-div"]{mask-image:linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)), linear-gradient(to right, rgb(0, 0, 0) calc(100% - 16px), rgba(0, 0, 0, 0) 100%), linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)), linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)), linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)), linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255))}
}
[data-ditto-id="style-div-2"]::after{content:"";display:block;position:absolute;top:54px;right:0px;bottom:-16px;left:0px;width:281px;height:16px;background-image:linear-gradient(in oklab, rgb(255, 255, 255) 0px, rgba(0, 0, 0, 0) 100%);opacity:0}
@media (max-width: 571px) {
[data-ditto-id="style-div-2"]::after{display:none}
}
@media (min-width: 572px) and (max-width: 1024px) {
[data-ditto-id="style-div-2"]::after{display:none}
}
@media (min-width: 1601px) {
[data-ditto-id="style-div-2"]::after{display:none}
}
[data-ditto-id="style-div-3"]::after{content:"";display:block;position:absolute;top:42px;right:0px;bottom:-16px;left:0px;width:281px;height:16px;background-image:linear-gradient(in oklab, rgb(255, 255, 255) 0px, rgba(0, 0, 0, 0) 100%)}
@media (max-width: 571px) {
[data-ditto-id="style-div-3"]::after{display:none}
}
@media (min-width: 572px) and (max-width: 1024px) {
[data-ditto-id="style-div-3"]::after{display:none}
}
@media (min-width: 1601px) {
[data-ditto-id="style-div-3"]::after{display:none}
}
[data-ditto-id="style-div-4"]::after{content:"";display:block;position:absolute;top:54px;right:0px;bottom:-16px;left:0px;width:281px;height:16px;background-image:linear-gradient(in oklab, rgb(255, 255, 255) 0px, rgba(0, 0, 0, 0) 100%)}
@media (max-width: 571px) {
[data-ditto-id="style-div-4"]::after{display:none}
}
@media (min-width: 572px) and (max-width: 1024px) {
[data-ditto-id="style-div-4"]::after{display:none}
}
@media (min-width: 1601px) {
[data-ditto-id="style-div-4"]::after{display:none}
}
[data-ditto-id="style-div-5"]::after{content:"";display:block;position:absolute;top:42px;right:0px;bottom:-16px;left:0px;width:281px;height:16px;background-image:linear-gradient(in oklab, rgb(255, 255, 255) 0px, rgba(0, 0, 0, 0) 100%)}
@media (max-width: 571px) {
[data-ditto-id="style-div-5"]::after{display:none}
}
@media (min-width: 572px) and (max-width: 1024px) {
[data-ditto-id="style-div-5"]::after{display:none}
}
@media (min-width: 1601px) {
[data-ditto-id="style-div-5"]::after{display:none}
}
[data-ditto-id="style-div-6"]::after{content:"";display:block;position:absolute;top:42px;right:0px;bottom:-16px;left:0px;width:281px;height:16px;background-image:linear-gradient(in oklab, rgb(255, 255, 255) 0px, rgba(0, 0, 0, 0) 100%)}
@media (max-width: 571px) {
[data-ditto-id="style-div-6"]::after{display:none}
}
@media (min-width: 572px) and (max-width: 1024px) {
[data-ditto-id="style-div-6"]::after{display:none}
}
@media (min-width: 1601px) {
[data-ditto-id="style-div-6"]::after{display:none}
}
[data-ditto-id="style-div-7"]::after{content:"";display:block;position:absolute;top:42px;right:0px;bottom:-16px;left:0px;width:281px;height:16px;background-image:linear-gradient(in oklab, rgb(255, 255, 255) 0px, rgba(0, 0, 0, 0) 100%)}
@media (max-width: 571px) {
[data-ditto-id="style-div-7"]::after{display:none}
}
@media (min-width: 572px) and (max-width: 1024px) {
[data-ditto-id="style-div-7"]::after{display:none}
}
@media (min-width: 1601px) {
[data-ditto-id="style-div-7"]::after{display:none}
}
[data-ditto-id="style-div-8"]::after{content:"";display:block;position:absolute;top:42px;right:0px;bottom:-16px;left:0px;width:281px;height:16px;background-image:linear-gradient(in oklab, rgb(255, 255, 255) 0px, rgba(0, 0, 0, 0) 100%)}
@media (max-width: 571px) {
[data-ditto-id="style-div-8"]::after{display:none}
}
@media (min-width: 572px) and (max-width: 1024px) {
[data-ditto-id="style-div-8"]::after{display:none}
}
@media (min-width: 1601px) {
[data-ditto-id="style-div-8"]::after{display:none}
}
[data-ditto-id="style-div-9"]::after{content:"";display:block;position:absolute;top:54px;right:0px;bottom:-16px;left:0px;width:281px;height:16px;background-image:linear-gradient(in oklab, rgb(255, 255, 255) 0px, rgba(0, 0, 0, 0) 100%)}
@media (max-width: 571px) {
[data-ditto-id="style-div-9"]::after{display:none}
}
@media (min-width: 572px) and (max-width: 1024px) {
[data-ditto-id="style-div-9"]::after{display:none}
}
@media (min-width: 1601px) {
[data-ditto-id="style-div-9"]::after{display:none}
}
[data-ditto-id="style-div-10"]::after{content:"";display:block;position:absolute;top:42px;right:0px;bottom:-16px;left:0px;width:281px;height:16px;background-image:linear-gradient(in oklab, rgb(255, 255, 255) 0px, rgba(0, 0, 0, 0) 100%)}
@media (max-width: 571px) {
[data-ditto-id="style-div-10"]::after{display:none}
}
@media (min-width: 572px) and (max-width: 1024px) {
[data-ditto-id="style-div-10"]::after{display:none}
}
@media (min-width: 1601px) {
[data-ditto-id="style-div-10"]::after{display:none}
}